.userList {
  flex: 4;
}

.userListUser {
  display: flex;
  align-items: center;
}

.userListImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.userListEdit{
     /* border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #3b57b1;
    color: white;
    cursor: pointer;
    margin-right: 20px;  */
    border: none;
    border-radius: 10px;
    padding: 0px 10px;
    width: 80px;
    background-color: #3b57b1;
    color: white;
    cursor: pointer;
    margin-right: 20px;
    margin-left: 20px;
}

.userListDelete{
    color: rgb(0, 0, 0);
    cursor: pointer;
}